// custom carousel
.carousel {
  margin-top: $navbar-custom-height;
}
.carousel-background {
  background-image: $carousel-background;
  height: $carousel-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-item {
  height: $carousel-height;
}
// custom jumbotron
.jumbotron {
  display: none !important;
}
@media (max-width: 801px) {
  .carousel {
    font-size: 2vw;
  }
  .carousel-background {
    height: 400px;
    background-color: black;
    background-size: cover;
    background-position: center;
    resize: both;
  }
}
