@import url("https://fonts.googleapis.com/css?family=Nunito");

// custom page styles
section {
  padding: 15px 0;
}
// home page
#home {
  // keep the footer on the bottom
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
  }
  // typography
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
  h3 {
    font-size: 1.25rem !important;
  }
  ul {
    font-size: 0.75rem !important;
  }
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #2980b9;
}

#catalog {
  background-color: $white;
  color: $gray-900;
  margin-top: 60px;
  ul {
    font-size: 0.75rem !important;
  }
  .card-header {
    background-color: $gray-200;
    color: $gray-900;
  }
  .card a {
    color: #203243;
    text-decoration: none !important;
  }
  tr {
    cursor: pointer;
  }
}

@media all and (-ms-high-contrast: none) and (max-width: 599px), (-ms-high-contrast: active) and (max-width: 599px){
  #home {
    height: 1800px;
  }   
 }
 
 @media all and (-ms-high-contrast: none) and (min-width: 600px), (-ms-high-contrast: active) and (min-width: 600px){
   #home {
     height: 2000px;
   }   
  }
 
  @media all and (-ms-high-contrast: none) and (min-width: 700px), (-ms-high-contrast: active) and (min-width: 700px){
   #home {
     height: 1850px;
   }   
  }
 
  @media all and (-ms-high-contrast: none) and (min-width: 800px), (-ms-high-contrast: active) and (min-width: 800px){
   #home {
     height: 1825px;
   }   
  }
  @media all and (-ms-high-contrast: none) and (min-width: 900px), (-ms-high-contrast: active) and (min-width: 900px){
   #home {
     height: 1800px;
   }   
  }
 
  @media all and (-ms-high-contrast: none) and (min-width: 1000px), (-ms-high-contrast: active) and (min-width: 1000px){
   #home {
     height: 1400px;
   }   
  }
 
  @media all and (-ms-high-contrast: none) and (min-width: 1200px), (-ms-high-contrast: active) and (min-width: 1200px){
   #home {
     height: 1300px;
   }   
  }
